* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #a5fa9d, #6dbf7b);
}

iframe {
  height: 52rem;
  margin-top: 3rem;
  width: 100%;
  border: none;
}

#formContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#agendamento {
  padding: 0.4rem;
  width: 16rem;
}

iframe[src*="calendar.google.com"] {
  height: 630px;
  width: 80%;
}

p {
  align-items: center;
  padding: 16px;
  width: 650px;
}
